body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

a {
  margin: 0;
  padding: 0;
  width: 311px;
  height: 400px;
  display: inline-block;
  position: relative;
  letter-spacing: normal;
  line-height: initial; }
  a img {
    width: 100%;
    height: auto;
    float: left; }
  a span {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-left: -100%;
    position: absolute;
    display: inline;
    height: 206px;
    z-index: 80;
    color: #fff;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    -webkit-transition-delay: 0.25s;
    -moz-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    transition-delay: 0.25s; }
    a span:hover {
      opacity: 1;
      -webkit-transition: opacity 0.2s ease-out;
      -moz-transition: opacity 0.2s ease-out;
      -ms-transition: opacity 0.2s ease-out;
      transition: opacity 0.2s ease-out; }
    a span:hover p {
      opacity: 1;
      bottom: 15px;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      -webkit-transition-delay: 0.25s;
      -moz-transition-delay: 0.25s;
      -ms-transition-delay: 0.25s;
      transition-delay: 0.25s; }
    a span p {
      position: absolute;
      width: 100%;
      text-align: center;
      opacity: 0;
      bottom: 0;
      display: block;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
